<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ToDo App</title>
</head>
<body>
    <div class="table-container">
        <h2 class="todo-title">Todo list</h2>
        <div>
            <a class="btn" href="">Add Todo</a>
        </div>
        <br>

        <table>
            <tr>
                <th>Title</th>
                <th>Decription</th>
                <th>Created At:</th>
                <th>Updated At:</th>
                <th>Action</th>
            </tr>
            <tr>
                <th>Test Todo title</th>
                <th>Test todo description</th>
                <th>Created time</th>
                <th>Updated time</th>
                <th>
                    <a class="btn" href="">Edit</a>
                    <a class="btn" href="">Delete</a>
                </th>
            </tr>
        </table>
    </div>
</body>
</html>